body { 
      background-color: rgb(250,251,250);
      /* background-image: url(./images/virus.png);
      background-repeat: space;
      filter: grayscale(100%); */
}

.container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
}

